<% include header %>
<div class="container">
    <form method="post" action="/edit/<%= doc.name %>/<%= doc.time %>" class="form-horizontal">
        <!--用户-->
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户: </label>
            <div class="col-sm-4">
                <input type="text" name="username" id="username" value="<%= doc.username %>" class="form-control" placeholder="用户名" required="required">
            </div>
        </div>

        <!--手机-->
        <div class="form-group">
            <label for="tel" class="col-sm-2 control-label">手机: </label>
            <div class="col-sm-4">
                <input type="tel" name="tel" value="<%= doc.tel %>" class="form-control" id="tel" placeholder="联系方式" required="required">
            </div>
        </div>

        <!--邮箱-->
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱: </label>
            <div class="col-sm-4">
                <input type="email" name="email" value="<%= doc.email %>" id="email" class="form-control" placeholder="邮箱" required="required">
            </div>
        </div>

        <!--提交-->
        <div class="form-group" >
            <div class="col-sm-2 col-sm-offset-2">
                <input type="submit" class="form-control btn btn-success" value="提交">
            </div>

        </div>

    </form>
</div>
<% include footer %>